<!--
  This template loads for the 'app.eventdetail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Welcome">
    <!-- <div class="bar bar-subheader"><img src="{{event.json.facebook[0].coverUrl}}" style="width: 100%;"></div> -->
    <ion-content class="">
        <div class="list card">
         <div class="item item-image">
        </div>
            <div class="item item-body">
                <div class="item">
                    <h2 class="pull-left">Welcome</h2>
                    <p>Choose your filters in the left side menu</p>
                    <span><button ng-click="toggleLeft();">Click here</button></span>
                    <p>Or click here to see this weeks events</p>
                    <span><button ng-click="go('events/eventlist')">Click here</button></span>
                </div>
            </div>
    </ion-content>
</ion-view>
